<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>近くにいる相手の端末を見つけてペアリングするために使います。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_paircommit-pr._tcp</string>
		<string>_paircommit-pr._udp</string>
	</array>
</dict>
</plist>
